

@media(max-width: 768px) {
    header .container-menu h1 {
        font-size: 2.5rem;
        text-align: center;
    }

    .me{
        background-size: cover;
        height: 40vh;
        max-height: 60vh;
    }

    .me h2 {
        font-size: 4rem;
        text-align: center;
    }

    .me p {
        font-size: 1.8rem;
        text-align: center;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        max-height: 200vh;
    }

    .about .title-about{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }

    .about .image-about img {
        max-height: 200px;
       

    }

    .about .text-about p{
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }

    .about .info-about {
        margin: 2rem;
        
    }

    .about .green-ball{
        display: none;
        

    }

    .about .triangle-about{
        display: none;
        

    }

    .info-experience .title-experience{
        font-size: 3rem;
        gap: 1rem;
        width: 100%;
    }

    .info-experience .title-experience h2{
        font-size: 2rem;
        font-weight: 900;
    }

    .curriculum h3{
        font-size: 3rem;
    }


    .projects .title{
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .container-projects {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project{
        max-width: 40rem;
    }

    .container-projects .project img{
        max-height: 20rem;
    }

    .project-info {
       height: 100%;
       width: 100%;
       top: 0;
       left: 50%; transform: translateY(0);transform: translateX(-50%);
    }

    .project:hover .project-info {
        opacity: 1;
        /* Torna visível */
        left: 50%; transform: translateY(0);transform: translateX(-50%);

        /* Remove deslocamento */
    }

    .projects h2 {
        font-size: 3rem;
        width: 100%;
    }

    .project-info h4 {
        font-size: 1.8rem;
    }
    
    .modal-content {
        width: 90%;
        padding: 1.5rem;
    }
}

/* Estilos para dispositivos entre 768px e 1024px (tablets em modo paisagem ou celulares grandes) */
@media screen and (min-width: 768px) and (max-width: 1024px) {
    header .container-menu {
        padding: 1.5rem 3rem;
    }

    header .container-menu h1 {
        font-size: 3rem;
    }

    .me h2 {
        font-size: 5rem;
    }

    .me p {
        font-size: 2.5rem;
    }

    .about {
        display: flex;
        flex-direction: column;
        padding: 2rem;
    }

    .about .title-about{
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    .about .image-about img {
        max-height: 200px;
       

    }

    .about .text-about p{
        margin-top: 1rem;
        font-size: 2rem;
        line-height: 2.5rem;
        text-align: center;
    }

    .about .info-about {
        margin: 2rem;
        
    }

    .about .green-ball{
        display: none;
        

    }

    .about .triangle-about{
        display: none;
        

    }
    
    .projects .title{
        width: 80rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .projects h2 {
        font-size: 5.5rem;
    }

    .container-projects {
        display: flex;
        flex-wrap: wrap;
        padding: 3rem;
        justify-content: center;
        align-items: center;
    }

    .project-info {
        width: 100%;
        height: 100%;
    }

    .modal-content {
        width: 80%;
        padding: 2rem;
    }

    .contact .rocket p{
        font-size: 2rem;
    }
}
@media(max-width: 400px) {

    .projects .title{
        width: 40rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .container-projects {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 98vw;
    }

    .project{
        width: 70%;
       height: 100%;
    }

    .container-projects .project img{
       width: 70%;
       height: 100%;

    }

    .project-info {
        width: 70%;
        height: 100%;
       top: 0;
       left: 50%; transform: translateY(0);transform: translateX(-50%);
    }

    .project:hover .project-info {
        opacity: 1;
        /* Torna visível */
        left: 50%; transform: translateY(0);transform: translateX(-50%);

        /* Remove deslocamento */
    }

    .projects h2 {
        font-size: 3rem;
        width: 100%;
    }

    .project-info h4 {
        font-size: 1.8rem;
    }
    
}