@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;400;500;700;900&display=swap');

body {
    display: flex;
    flex-direction: column;
}



/* Header */

header .container-menu {

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 5.5rem;
    background: transparent;
    position: fixed;
    z-index: 3;
    width: 100%;
    transition: 0.6s;
}

header .container-menu.scrolled {
    background-color: rgba(90, 108, 87, 1);
    padding: 1rem 5.5rem;
}

header .container-menu.scrolled h1:hover {
    background-color: #D3F1DF;
    border-radius: 50px;
    padding: 0rem 2rem;
}



header .container-menu h1 {
    font-size: 3rem;
    font-family: 'Poppins';
    font-weight: 700;
    color: #D3F1DF;
    transition: 0.4s;
    text-transform: uppercase;
}

header .container-menu h1:hover {
    color: #5A6C57;
}

header .container-menu input {
    display: none;
}



/* Me */

.me {
    background: transparent;
    height: 99vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center fixed;
}

.me h2 {
    display: block;
    font-size: 7.5rem;
    color: #D3F1DF;
    font-family: 'Poppins' Arial, Helvetica, sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}

.me p {
    font-size: 3.2rem;
    font-family: 'Roboto';
    color: #D3F1DF;
    font-weight: 400;
}



.me:after {
    content: url('../images/arrow-down-solid.png');
    position: absolute;
    height: 35px;
    bottom: 40px;
    animation: downarrow 0.6s infinite alternate ease-in-out;
}

@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
        opacity: 0.4;
    }

    100% {
        -webkit-transform: translateY(0.4em);
        opacity: 0.9;
    }
}

/* About */
.about {
    background-color: #E5E3D4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100px 500px 1fr;
}

.about .title-about{
    grid-area: 1/1/1/4;
    text-align: center;
    width: 100%;
    margin-top: 10rem;
}

.about .title-about h2{
    font-size: 3rem;
    font-family: 'Poppins';
    text-transform: uppercase;
    font-weight: 300;
    color: #525B44;
}

.about .image-about{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 2/1/2/1;
}

.about .image-about img{
    max-height: 300px;
    border-radius: 50%;
}

.about .text-about{
    grid-area: 2/2/4/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about .text-about p{
    font-size: 2.5rem;
    font-family: 'Roboto' Arial, Helvetica, sans-serif;
    font-weight: 300;
    color: #5A6C57;
    text-align: center;
    line-height: 5rem;
}

.about .info-about{
    grid-area: 3/3/3/3;
    display: flex;
    flex-direction: column;
    margin: 5rem;
    height: 80%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #85A98F;
    padding: 2rem;
}

.about .info-about .title-info{
    height: 6rem;
}

.about .info-about h3{
    margin-top: 1rem;
    font-size: 2rem;
    color: #5A6C57;
    height: 100%; 
    display: flex;
    align-items: self-end;
    justify-content: center;
}

.about .info-about p{
    margin-top: 1rem;
}

.about .info{
    margin-top: 3rem;
}

.about .info:nth-child(1){
    max-height: 3rem;
}



.about .info-about p:nth-child(1){
    margin-top: 0;
}

.about .info-about .info{
    font-size: 2.3rem;
    color: #D3F1DF;
}

.about .triangle-about{
    grid-area: 2/3/2/3;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* EXPERIENCE */

.experience {}

/* PROJECTS */

.projects {}

/* CONTACT */

.contact {}